.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #171923;
}

.container img {
  width: 500px;
  height: 500px;
}

.bandContainer {
  width: 500px;
  font-size: 16px;
}

.bandContainer a {
  color: #ffffff;
}

.bandContainer a:hover {
  text-decoration: underline;
}

.bandContainer p {
  font-size: 16px;
  padding-left: 4px;
  color: #A0AEC0;
}